@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");



.info a{
  text-decoration: none;
  color: #fff;
}


.container .contactinfo {
  display: -webkit-box;
  display: flex;
  top: 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 40px;
  background-color: #333;
}
.container .contactinfo h2 {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.container .contactinfo .info {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
}
.container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: 8px 0;
  cursor: pointer;
}
.faxxx{
    color: grey;
    font-size: 36px;
}
.faxxx:hover{
  color: #fff;
}
.container .contactinfo .info li span:nth-child(1) {
  width: 40px;
  min-width: 40px;
}
.container .contactinfo .info li span:nth-child(1) img {
  max-width: 100%;
  -webkit-filter: invert(83%);
          filter: invert(83%);
  opacity: 0.5;
}
.container .contactinfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 100;
  opacity: 0.5;
}
.container .contactinfo .info li:hover span:nth-child(1) img, .container .contactinfo .info li:hover span:nth-child(2) {
  opacity: 1;
}
.container .contactusform {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 70px 50px;
  background-color: #fff;
  top: 0;
}
.container .contactusform h2 {
  color: #f2b98a;
  font-size: 24px;
  font-weight: 700;
}
.container .contactusform .formBox {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.container .contactusform .formBox .inputBox {
  position: relative;
  margin: 0 0 15px 0;
  width: 100% !important;
}
.container .contactusform .formBox .inputBox input,
.container .contactusform .formBox .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}
.container .contactusform .formBox .inputBox textarea {
  min-height: 120px;
}
.container .contactusform .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}
.container .contactusform .formBox .inputBox input:focus ~ span,
.container .contactusform .formBox .inputBox textarea:focus ~ span,
.container .contactusform .formBox .inputBox input:valid ~ span,
.container .contactusform .formBox .inputBox textarea:valid ~ span {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f2b98a;
}
.container .contactusform .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}
.container .contactusform .formBox .inputBox input[type="submit"]:hover {
  background-color: #AA6C39;
}
.container .contactusform .formBox .w50 {
  width: 47%;
}
.container .contactusform .formBox .w100 {
  width: 100%;
}

/*@media screen and (min-width: 700px) {
  .container .contactinfo h2 {
    text-align: center;
  }
  .container .contactinfo .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
  .container .contactinfo li span:nth-child(2) {
    margin-right: 20px;
  }
}*/
@media screen and (min-width: 768px) {
  section {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    align-content: center;
    min-height: 100vh;
    background-color: #ccc;
  }
  section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #dcdcdc;
  }
  section .container {
    position: relative;
    width: 1100px;
    min-height: 550px;
    display: -webkit-box;
    display: flex;
    margin: 0 20px 0 20px;
  }
  section .container .contactinfo {
    position: absolute;
    top: 15%;
    width: 350px;
    height: calc(100% - 30%);
    z-index: 1;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    -webkit-box-align: left;
            align-items: left;
  }
  section .container .contactinfo h2 {
    text-align: left;
  }
  section .container .contactinfo .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  section .container .contactinfo li span:nth-child(2) {
    margin-right: 0;
  }
  section .container .contactusform {
    position: absolute;
    top: 10%;
    height: calc(100% - 20%);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    margin-left: 150px;
    padding-left: 250px;
  }
  section .container .contactusform .formBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}

@media(min-width: 992px){
  .container .contactusform .formBox .inputBox {
    margin: 0 0 35px 0;
  }
}

@media(min-width:1200px){
  .container .contactusform .formBox .inputBox {
    margin: 0 0 26px 0;
  }
}