* {
	font-family: 'Josefin Sans', sans-serif;
	user-select: none;
  -webkit-user-select: none;/*IE,etc*/
  -moz-user-select: none; /*Mozzila Firefox*/
}
header *{transition: .4s;}
.book-wrap {
	top: 150px;
	z-index: 9999;
	position: absolute;
	left: 15px;
	right: 20px;
}

/*.modal-backdrop {
    position: unset!important;
    
}*/
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	box-shadow: 0px 0px 5px gainsboro;
	width: 100%;
	background-color: #fff;
	animation-name: example;
	animation-duration: 1s;
	transition: top 500ms ease-in;
	box-shadow: 0px 0px 5px gainsboro;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f3f3",endColorstr="#404040",GradientType=1);
}

@keyframes example {
	0% {
		top: -100px;
	}

	100% {
		top: 0px;
	}
}

.site-header {
	z-index: 99999999;
	width: 100%;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f3f3",endColorstr="#404040",GradientType=1);
}

.header-wrap1 {
	background-color: #F4F3F3;
}

.header-wrap2 {
	background-color: #404040;
}

.sitelogo {
	max-width: 200px;
}

.sitelogo img {
	width: 100%;
}

.sitenav {
	position: fixed;
	top: 0;
	left: -310px;
	background-color: #00284B;
	overflow-y: scroll;
	height: 100%;
	width: 230px;
	padding: 20px;
	z-index: 99999;
	-webkit-transition: left 500ms ease-out;
	-moz-transition: left 500ms ease-out;
	-o-transition: left 500ms ease-out;
	transition: left 500ms ease-out;
}

.mx-2 {
	display: none;
}

.sitenav ul li {
	display: block;
	list-style-type: none;
	margin: 20px 0;
	position: relative;
}

.sitenav ul li a {
	display: block;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	text-transform: capitalize;
}

.sitenav .sendrqest li a {
	background-color: #f2b98a;
	padding: 10px 4px;
	width: 150px;
	text-align: center;
}

.sitenav .sendrqest li a:hover {
	color: #fff;
	padding: 10px 4px;
	background-color: #3b3b5f;
}

.humbergarBtn {
	width: 35px;
	height: 25px;
	position: absolute;
	top: 0;
	bottom: 10px;
	right: 15px;
	margin: auto;
}

.humbergarBtn span {
	width: 30px;
	height: 2px;
	background-color: #16244c;
	border-radius: 3px;
	position: absolute;
}

.humbergarBtn span:nth-child(1) {
	top: 7px;
	width: 27px;
	left: 6px;
	-webkit-transition: transform 500ms ease-out;
	-moz-transition: transform 500ms ease-out;
	-o-transition: transform 500ms ease-out;
	transition: transform 500ms ease-out;
	background: #16244c;
}

.humbergarBtn span:nth-child(2) {
	top: 14px;
	width: 14px;
	left: 6px;
	background: #16244c;
	-webkit-transition: left 1000ms ease-out;
	-moz-transition: left 1000ms ease-out;
	-o-transition: left 1000ms ease-out;
	transition: left 1000ms ease-out;
}

.humbergarBtn span:nth-child(3) {
	top: 22px;
	width: 27px;
	left: 6px;
	background: #16244c;
	-webkit-transition: transform 500ms ease-out;
	-moz-transition: transform 500ms ease-out;
	-o-transition: transform 500ms ease-out;
	transition: transform 500ms ease-out;
}

.humbergarBtn.close span:nth-child(1) {
	top: 7px;
	width: 27px;
	left: 6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: transform 500ms ease-out;
	-moz-transition: transform 500ms ease-out;
	-o-transition: transform 500ms ease-out;
	transition: transform 500ms ease-out;
}

.humbergarBtn.close span:nth-child(2) {
	top: 14px;
	width: 0px;
	left: 0px;
	-webkit-transition: left 1000ms ease-out;
	-moz-transition: left 1000ms ease-out;
	-o-transition: left 1000ms ease-out;
	transition: left 1000ms ease-out;
}

.humbergarBtn.close span:nth-child(3) {
	top: 7px;
	width: 27px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: transform 500ms ease-out;
	-moz-transition: transform 500ms ease-out;
	-o-transition: transform 500ms ease-out;
	transition: transform 500ms ease-out;
}

.sitenav.addSlide {
	left: 0px;
	-webkit-transition: left 500ms ease-out;
	-moz-transition: left 500ms ease-out;
	-o-transition: left 500ms ease-out;
	transition: left 500ms ease-out;
}

.header-social-media {
	display: inline;
}

.header-social-media li {
	display: inline-block;
}




.sitenav ul .header-social-media li a:hover .fa {
	-webkit-animation: social-img 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;
	animation: social-img 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-8-17 13:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes social-img {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes social-img {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

.social-scroll:hover .social-img1 {
	-webkit-animation: social-img1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: social-img1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
	/* ----------------------------------------------
 * Generated by Animista on 2020-8-17 13:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes social-img1 {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes social-img1 {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}




/*start of footer*/

.footer-sec {
	width: 100%;
	background: url(../images/footer_sec.jpg);
	text-align: left;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px 0;
}

.footer-sec h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 30px;
	position: relative;
	text-align: left;
}
.footer-sec h3{
	font-size: 20px;
}	

.footer-img {
	max-width: 180px;
	margin: 0;
}

.footer-sec ul li {
	list-style-type: none;
	color: #fff;
	margin: 5px 0;
	font-size: 13px;
	text-align: left;
}

.footer-sec ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	letter-spacing: 0.5px;
}

.footer-sec ul li a:hover {
	color: #f2b98a!important;
	text-decoration: none;
}

.footer-sec p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 0;
}

.footer-bottom {
	width: 100%;
	background-color: #221E1F;
}

.footer-bottom p {
	font-size: 14px;
	color: #fff;
	text-align: center;
}

.footer-bottom a {
	text-decoration: none;
	display: block;
	font-size: 14px;
	color: #fff;
	text-align: center;
	padding-bottom: 15px;
}

.get-touch ul li {
	list-style-type: none;
	display: inline;
	margin: 0 -2px;
}

.footer-ul {
	height: 40px;
}

.footer-social-media ul li {
	list-style-type: none;
	display: inline-block;
	margin: 0 4px;
}
.footer-social-media ul li a {
	color: #f2b98a;
}
.footer-social-media ul li a:hover {
	color: rgb(234,72,34);
}

.modal-body h4 {
    font-size: 22px;
    font-weight: 700;
    color: #00284B;
    padding: 20px 0;
}
.footer-social-media ul li:nth-child(1) {
	margin: 0 3px;
}

.footer-social-media ul  li:nth-child(1) a:hover {
	background-color: #1877F2;
	color: #fff;
	border: 1px solid transparent;
}

.footer-social-media ul li:nth-child(2) a:hover {
	background-color: #50abf1;
	color: #fff;
	border: 1px solid transparent;
}

.footer-social-media ul li:nth-child(3) a:hover{
	background:linear-gradient(190deg, rgba(131,58,180,1) 0%, rgba(253,43,29,1) 50%, rgba(252,176,69,1) 100%);
	color: #fff;
	border: 1px solid transparent;
}
.footer-social-media ul li:nth-child(4) a:hover {
	background: #0072b1;
	color: #fff;
	border: 1px solid transparent;
}

.footer-social-media ul li:nth-child(2) {
	margin: 0 3px;
}
.footer-social-media ul li:nth-child(3){
	margin: 0 3px;
}
.footer-social-media ul li:nth-child(4) {
	margin: 0 3px;
}

.footer-social-media ul li:nth-child(1) a {
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0 auto;
	padding: 4px;
}

.footer-social-media ul li:nth-child(2) a {
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0 auto;
	padding: 4px;
}

.footer-social-media ul li:nth-child(3) a{
	display: block;
	border:1px solid #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0 auto;
	padding: 4px;
}
.footer-social-media ul li:nth-child(4) a {
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0 auto;
	padding: 4px;
}

.footer-social-media ul li a:hover .fa {
	-webkit-animation: social-img 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;
	animation: social-img 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-8-17 13:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes social-img {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes social-img {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

.social-scroll:hover .social-img1 {
	-webkit-animation: social-img1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: social-img1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
	/* ----------------------------------------------
 * Generated by Animista on 2020-8-17 13:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes social-img1 {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes social-img1 {
	0% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
		opacity: 0;
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1;
	}
}

.footer-menu li {
	margin: 20px 0 !important;
}

.footer-sec ul li span {
	color: #fff;
	padding-right: 10px;
}

.footer-ul .fa {
	font-size: 14px;
}

.footer-ul .fa:hover {
	color: #3A57A6;
}
.antispam{
	display: none;
}

/*end of footer*/

@media(min-width: 576px) {
	.footer-sec ul li {
		font-size: 15px;
	}
}

.fborder1 ul li span {
	font-weight: 600;
	font-size: 18px;
	color: #01BDE2;
}

.footer-sec h2 {
	margin-top: 20px;
}

@media(min-width: 768px) {

	.sitelogo {
		margin-left: 0;
		max-width: 250px;
	}

	.sitenav {
		position: static;
		background-color: transparent;
		width: 100%;
		overflow-y: visible;
		height: auto;
		padding: 0;
	}

	.sitenav ul li {
		display: inline-block;
		margin: 5px -1px;
	}

	.sitenav ul li a {
		font-size: 16px;
		position: relative;
		padding: 5px;
		color: #3b3b5f;
		font-weight: 600;
	}

	.sitenav ul li a:hover {
		color: #f2b98a;
		padding: 5px;
	}
.sitenav ul li a.active::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  position: absolute;
  background-color: #f2b98a;
  opacity: 0.6;
  top:50px;
}
.sitenav ul li a:hover::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  position: absolute;
  background-color: #f2b98a;
  opacity: 0.6;
  top:50px;
}

.sitenav ul ul li a.active::after {
 	display: none;
}
.sitenav ul ul li a:hover::after {
 	display: none;
}
.sitenav .sendrqest li a:hover::after {
 	display: none;
}

	.sitenav ul li a.active {
		color: #f2b98a;
		padding: 5px;
		border-radius: 5px;
	}

	.topp-header {
		display: block;
	}

	.hasDropdown {
		position: relative;
	}

	.dropdown li {
		list-style-type: none;
		/*display: block;*/;
	}

	ul.dropdown li a {
		text-decoration: none;
		color: #fff;
	}

	.dropdown {
		transition: 1s ease;
	}

	ul.dropdown {
		display: none;
		position: absolute;
		padding: 28px 0;
		width: 220px;
		top: 17px;
		/* left: 0;*/;
		-webkit-transform: scaleY(0);
	        transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	        transform-origin: 50% 0;
	transition: opacity .3s,-webkit-transform .3s;
	transition: transform .3s,opacity .3s;
	transition: transform .3s,opacity .3s,-webkit-transform .3s;
	}

	.sitenav .dropdown li {
		list-style-type: none;
		display: block;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: #fff;
		padding-left: 5px;
		margin: 0 7px;
		color: #fff;
		transition: .3s ease-in;
	}

	.dropdown li:hover {
		background-color: #00284B !important;
		color: #fff;
		transition: 0.3s ease-in;
		border: none;
	}

	ul li:hover ul {
		display: block;
		z-index: 99999;
		transition: .3s ease-in;
		-webkit-transform: scaleY(1);
	        transform: scaleY(1);
	}

@-webkit-keyframes slideLeft {
	from{-webkit-transform: translateY(-20%);transform: translateY(-20%)} to{-webkit-transform: translateY(0);transform: translateY(0)}}


@keyframes slideLeft {
	from{-webkit-transform: translateY(-20%);transform: translateY(-20%)} to{-webkit-transform: translateY(0);transform: translateY(0)}}
	ul.dropdown li a {
		text-decoration: none;
		color: #000;
		display: block;
		text-align: left;
	}

	ul.dropdown li a:hover {
		border: none!important;
	}

	ul.dropdown .dropdown2 {
		position: absolute;
	    /*left: 220px;
	    top:33px;*/
		left: -257px;
		top: 2px;
		margin-top: 33px;
	    /*background: #243e8a;*/
		width: 250px;
		display: none;
		transition: .3s ease-in;
	}

	ul.dropdown .dropdown2.dropdown3 {
		top: 1px !important;
	}

	ul.dropdown li:hover .dropdown2 {
		display: block;
	}


/*end of header*/
	.footer-sec {
		text-align: left;
	}

	.footer-img {
		margin: 0;
	}

	.footer-sec h2::before {
		margin: 0;
		left: 0;
	}

	.footer-sec h2::after {
		margin: 0;
	}

	.footer-sec ul li {
		text-align: left;
		margin: 20px 0;
	}
}

@media(min-width: 992px) {

	header.mid-header.site-header {
		position: relative;
		background-color: transparent;
		z-index: 9;
	}

	.sitenav ul li {
		margin: 5px;
	}

	.get-touch ul li {
		margin: 0 10px;
	}

	.topp-header2 ul li:nth-child(1) {
		margin-right: 50px;
	}

	.fborder {
		border-left: 1px dashed #02779A;
		padding-left: 40px;
	}

	.fborder2 {
		border: none;
	}

	.footer-sec p {
		text-align: left;
	}

	.footer-sec h2 {
		margin-top: 0px;
	}

	.footer-sec h2 {
		font-size: 17px;
	}
	.footer-sec {
		padding: 80px 0;
	}
}

@media(min-width: 1200px) {

	.sitenav ul li {
		margin: 5px 12px;
	}

	.sitenav ul li a {
		font-size: 16px;
	}

	.sitelogo::before {
		top: 20px;
		left: -100px;
		width: 50%;
	}

	.newsletter {
		padding: 7px 25px;
	}

	.btn-know-more2 {
		margin: -5px;
	}

	.fborder {
		border-left: 1px dashed #fff;
		padding-left: 60px;
	}

	.fborder2 {
		border: none;
	}

	.footer-sec h2 {
		font-size: 19px;
	}
}

@media(min-width: 1400px) {
	.container {
		max-width: 1360px!important;
	}
}