
body::-webkit-scrollbar {
  width: 1px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #F15F22;
  outline: 1px solid slategrey;
}

/*Start oh header*/
.site-header{
	z-index: 99;
	background-color: #fff;
	padding: 20PX 0;
	-webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.12);
	box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.12);
	background-image: url(../images/logobackground.jpg);
	background-repeat: no-repeat;
}

.sitelogo{
	max-width: 250px;
}
.top-header::after{
	content: "";
	 display: none;
	  width: 54%;
	  height: 1px;
	  position: absolute;
	  background-color: #dae0e5;
	  top: 44px;
	  right: 0;
}
.topp-header{
	display: none;
}
.top-header ul li{
	list-style-type: none;
	display: inline-block;
	color: #375668;
	margin: 0 11px;
	font-size: 16px;
}
.fa-mobile{
	font-size: 22px;
}

.top-header ul li a{
	text-decoration:none;
	color: #375668;
	font-size: 16px;
	text-decoration: none;
	font-weight: 700;
}
.top-header ul li a:hover{
	color: rgb(234,72,34);
}
.top-header ul li:nth-child(1){
	margin: 0 3px;
}
.top-header ul li:nth-child(1) a:hover{
	background-color: #1877F2;
	border:1px solid transparent;
	color: #fff;
}
.top-header ul li:nth-child(2) a:hover{
	background-color: #50abf1;
	color: #fff;
	border:1px solid transparent;
}

.top-header ul li:nth-child(3) a:hover{
	background:linear-gradient(190deg, rgba(131,58,180,1) 0%, rgba(253,43,29,1) 50%, rgba(252,176,69,1) 100%);
	color: #fff;
	border:1px solid transparent;
}

.top-header ul li:nth-child(4) a:hover{
	background-color: #1877F2;
	color: #fff;
	border:1px solid transparent;
}


.top-header ul li:nth-child(2){
	margin: 0 3px;
}
.top-header ul li:nth-child(3){
	margin: 0 3px;
}
.top-header ul li:nth-child(4){
	margin-left: 3px;
}
.top-header ul li:nth-child(6){
	margin-right: 0;
}
.top-header ul li:nth-child(1) a{
	display: block;
	border:1px solid #F15F22;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin: 0 auto;
}
.top-header ul li:nth-child(2) a{
	display: block;
	border:1px solid #F15F22;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin: 0 auto;
}

.top-header ul li:nth-child(3) a{
	display: block;
	border:1px solid #F15F22;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin: 0 auto;
}

.top-header ul li:nth-child(4) a{
	display: block;
	border:1px solid #F15F22;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin: 0 auto;
}
.top-header ul li a:hover .fa{
	-webkit-animation: social-img 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;
	        animation: social-img 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-8-17 13:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes social-img {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes social-img {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

.social-scroll:hover .social-img1{
	-webkit-animation: social-img1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: social-img1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	/* ----------------------------------------------
 * Generated by Animista on 2020-8-17 13:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes social-img1 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes social-img1 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

.sticky{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0px 0px 5px gainsboro;
    width: 100%;
    background-color:#fff;
	animation-name: example;
  animation-duration: 1s;
  transition: top 500ms ease-in;
}
@keyframes example {
  0%{
  	top:-100px;
  }
  100% {
  	top:0px;
  }
}
.sticky .top-header.topp-header {
    display: none;
}
.sticky .menu-bar{
	margin-top: 0!important;
}
.sticky .humbergar{
	margin: 0 !important;
}
.sitenav{
	z-index: 99;
	position: fixed;
	top: 0;
	left: -310px;
	background-color:#B4AFB5;
	overflow-y: scroll;
	height: 100vh;
	width: 250px;
	padding: 20px;
	-webkit-transition: left 500ms ease-out;
  -moz-transition: left 500ms ease-out;
  -o-transition: left 500ms ease-out;
  transition: left 500ms ease-out;
}
.sitenav ul li{
	display: block;
	list-style-type: none;
	margin: 20px 0;

}
.sitenav ul li a{
	display: block;
	color: #375668;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
}
.sitenav ul li:nth-child(6){
	margin-right: 0!important;
}
.sitenav ul li a:hover{
	color: #F15F22;
}
.humbergar span{
	display: block;
	width: 30px;
	height: 2.5px;
	margin: 5px 0;
	background-color:#375668;
	margin-left: auto;

}
.humbergar{
	margin-top: 30px;
}
.menu-bar{
/*	border-right: 1px solid #dae0e5;*/
	/*padding-right: 30px;*/
}
.humbergarBtn{
	width: 35px;
	height: 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 15px;
	margin: auto;
}
.humbergarBtn span{
	width: 30px;
	height: 2px;
	background-color:#375668;
  	border-radius: 3px;
  	position: absolute;
}

.humbergarBtn span:nth-child(1){
  top:7px;
	width:27px;
		 left: 6px;
		 -webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
  transition: transform 500ms ease-out;
}

.humbergarBtn span:nth-child(2){
   top:14px;
  width:14px;
  left:6px; 
  -webkit-transition: left 1000ms ease-out;
  -moz-transition: left 1000ms ease-out;
  -o-transition: left 1000ms ease-out;
  transition: left 1000ms ease-out;
}

.humbergarBtn span:nth-child(3){
   top:22px;
  width:27px;
    left:6px;
  -webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
  transition: transform 500ms ease-out;
}


.humbergarBtn.close span:nth-child(1){
  top:7px;
	width:27px;
	left: 6px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	-webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
  transition: transform 500ms ease-out;

}

.humbergarBtn.close span:nth-child(2){
  top:14px;
  width:0px; 
  left:0px;
 -webkit-transition: left 1000ms ease-out;
  -moz-transition: left 1000ms ease-out;
  -o-transition: left 1000ms ease-out;
  transition: left 1000ms ease-out;
}

.humbergarBtn.close span:nth-child(3){
  top:7px;
  width:27px;
  -webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	-webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
  transition: transform 500ms ease-out;
}
.sitenav.addSlide{
	left: 0px;
	-webkit-transition: left 500ms ease-out;
  -moz-transition: left 500ms ease-out;
  -o-transition: left 500ms ease-out;
  transition: left 500ms ease-out;	
}
/*end of header*/


/*start footer*/

.footer-sec{
	width: 100%;
	background-image:url(../images/footer-sec.jpg);
	text-align: center;
	padding: 30px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.footerlogo{
	max-width: 200px;
}
.footerlogowrap p{
	text-align: left;
	font-size: 16px;
	color: #fff;
	margin-top: 20px;
}
.footer-header ul li{
	list-style-type: none;
	display:block;
	color: #f1f1f1;
	margin: 10px 0px;
	font-size: 16px;
	text-align: left;
}
.footer-header ul li:nth-child(3) {
	display: inline-block !important;
	text-align: left;
}
.footer-header ul li:nth-child(4) {
	display: inline-block !important;
	text-align: left;
}
.footer-header ul li:nth-child(5) {
	display: inline-block !important;
	text-align: left;
}
.footer-header ul li:nth-child(6) {
	display: inline-block !important;
	text-align: left;
}
.fa-mobile{
	font-size: 22px;
}

.footer-header ul li a{
	text-decoration:none;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.footer-header ul li a:hover{
	color: rgb(234,72,34);
}

.footer-header ul li:nth-child(3) a:hover{
	background-color: #1877F2;
	color: #fff;
	border:1px solid transparent;
}
.footer-header ul li:nth-child(4) a:hover{
	background-color: #50abf1;
	color: #fff;
	border:1px solid transparent;
}

.footer-header ul li:nth-child(5) a:hover{
	background:linear-gradient(190deg, rgba(131,58,180,1) 0%, rgba(253,43,29,1) 50%, rgba(252,176,69,1) 100%);
	color: #fff;
	border:1px solid transparent;
}

.footer-header ul li:nth-child(6) a:hover{
	background-color: #1877F2;
	color: #fff;
	border:1px solid transparent;
}


.footer-header ul li:nth-child(3){
	margin: 0 3px;
}
.footer-header ul li:nth-child(4){
	margin: 0 3px;
}
.footer-header ul li:nth-child(5){
	margin-left: 3px;
}
.footer-header ul li:nth-child(6){
	margin-left: 0;
}
.footer-header ul li:nth-child(3) a{
	display: block;
	border:1px solid #F15F22;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-left: -164px;
}
.footer-header ul li:nth-child(4) a{
	display: block;
	border:1px solid #F15F22;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-left: -146px;
}

.footer-header ul li:nth-child(5) a{
	display: block;
	border:1px solid #F15F22;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-left: -126px;

}

.footer-header ul li:nth-child(6) a{
	display: block;
	border:1px solid #F15F22;
	border-radius: 4px;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-left: -102px;
}
.footer-header ul li a:hover .fa{
	-webkit-animation: social-img 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;
	        animation: social-img 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1 both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-8-17 13:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes social-img {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes social-img {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

.social-scroll:hover .social-img1{
	-webkit-animation: social-img1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: social-img1 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	/* ----------------------------------------------
 * Generated by Animista on 2020-8-17 13:57:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes social-img1 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes social-img1 {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}


.footerwrap h2{
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	margin-top: 15px;
	text-align: left;
}
.footerwrap ul li{
	list-style-type: none;
	margin: 15px 0;
}
.footerwrap ul li a{
	display: block;
	text-decoration: none;
	color: #BDBEC0;
	font-weight: 16px;
	text-align: left;	
}
.footerwrap ul li a:hover{
	color:rgb(234,72,34)
}
.footer-bottom{
	width: 100%;
	background-color: #071A1F;
}
.footer-bottom p{
	font-size: 14px;
	color: #fff;
	text-align: center;
	 font-family: 'Montserrat', sans-serif;
}
.footer-bottom a{
	text-decoration: none;
	display: block;
	font-size: 14px;
	color: #fff;
	padding-bottom: 15px;
	text-align: center;
	 font-family: 'Montserrat', sans-serif;
}
@media(min-width: 576px){

}

@media(min-width: 768px){
	
	.footerlogo {
		margin: 0;
	}
	.footer-header ul li{
		display: inline-block;
	}
	.footer-header ul li:nth-child(3) a{
		margin:0 auto;
	}
	.footer-header ul li:nth-child(4) a{
		margin:0 auto;
	}
	.footer-header ul li:nth-child(5) a{
		margin:0 auto;
	}
	.footer-header ul li:nth-child(6) a{
		margin:0 auto;
	}
	.footerwrap{
		padding-left: 20px;
	}
	.footer-header ul li {
	    margin: 10px 4px;
	}
}

@media(min-width: 992px){

	/*start of header*/
	.top-header::after{
	 display: block;
}
	.sitenav{
		position: static;
	    background-color:transparent;
	    width: 100%;
	    overflow-y: visible;
	    height: auto;
	    padding: 0;
	}

  .sitenav ul li{
    display: inline-block;
    margin:5px 18px;
  }

  .sitenav ul li a{
  	font-size: 16px;
  	position: relative;
  }
   .sitenav ul li a.active{
   	color: #F15F22;
}

  .topp-header{
	display: block;
}


.hasDropdown{
	position: relative;
	}
	.dropdown li{
		list-style-type: none;
		/*display: block;*/
	}
	ul.dropdown li a{
		text-decoration: none;
		color: #fff;
	}
	.dropdown{
			transition: 1s ease;
		}

	ul.dropdown{
		 display: none;
		 position: absolute;
		 padding: 33px 0;
		 width: 220px;
		 top: 15px;
		/* left: 0;*/

	}
	.sitenav .dropdown li{
		list-style-type: none;
		display: block;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #fff;
		padding-left: 5px;
		margin: 0 7px;
		color: #fff;

	}
	.dropdown li:hover{
		background:linear-gradient(90deg
, rgba(232,70,36,1) 10%, rgba(245,147,31,1) 90%);
		color: #fff;
		transition: 0.3s ease-in;
		border: none;
	}
	 ul li:hover ul{
		display: block;
		z-index: 99999;
	}
	
	 ul.dropdown li a{
		text-decoration: none;
		color: #375668;
		display: block;
		text-align: left;
	}
	 ul.dropdown li a:hover{
	 	color: #fff;
	 }

	.top-header::after{
	  width: 90%;
	}
	.footer-header::after{
	  width: 90%;
	}
	.get-touch ul li{
		margin: 0 -2px
	}
	.footerwrap {
    	padding-left: 50px;
	}
	.footer-header::after{
	content: "";
	 display: block;
	  width: 90%;
	  height: 2px;
	  position: absolute;
	  background-color: #424A51;
	  top: 44px;
	  right: 0;
	}
	.footer-header ul li{
		margin: 0px 11px;
	}
	.footerwrap h2 {
		margin-top: 60px;
	}

}

@media(min-width: 1200px){
	.sitenav ul li {
    margin: 5px 30px;
}
.top-header ul li{
	margin: 0 42px;
}
	.footerwrap{
	padding-left: 80px;
}
.footer-header ul li {
    margin: 0px 30px;
}
.footer-header ul li:nth-child(6) {
    margin-left: -26px;
}

}

@media(min-width: 1400px){
	.container{
		max-width: 1360px !important;
	}
	.top-header::after{
	  width: 76%;
	}
	.footer-header::after{
	  width: 76%;
	}
	.sitenav ul li {
   	 margin: 5px 31px;
	}
	.footerwrap{
	padding-left: 180px;
	}
}
